
@font-face {
    font-family: 'RB';
    src: url('../../../assets/fonts/RB-Regular.eot');
    src: local('RB'), local('RB-Regular'),
        url('../../../assets/fonts/RB-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/RB-Regular.woff2') format('woff2'),
        url('../../../assets/fonts/RB-Regular.woff') format('woff'),
        url('../../../assets/fonts/RB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
